.left {
	display: inline-block;
	padding: 2em 1em;
	text-align: left;
	width: 700px;
}

.title{
        font-family:'Malgun Gothic';
	font-size:   1.2em;
	font-weight: bold;
    	color:       blue;
    	text-align:  left;

}

.subtitle{
        font-family:'Malgun Gothic';
	font-size:   1em;
	font-weight: bold;
    	color:       blue;
    	text-align:  left;

}
.section1{
        font-family:'Malgun Gothic';
	font-size:   1em;
    	color:       blue;
    	text-align:  left;
        text-indent: -1.2em;
}

.text1{
	font-style:  normal;
	font-size:   1em;
	font-weight: bold;
	line-height: 1.5em
}
.text2{
	font-style:  normal;
	font-size:   0.9em;
	font-weight: bold;
	line-height: 1.4em;
}
.text3{
	font-style:  normal;
	font-size:   0.9em;
	font-weight: bold;
	line-height: 1.4em;
	text-indent: 1.6em; 
}
.question{
        font-family:'Malgun Gothic';
	font-size:   1em;
    	color:       blue;
    	text-align:  left;
}
.answer{
        font-family:'Malgun Gothic';
	font-size:   1em;
    	color:       blue;
    	text-align:  left;
        text-indent: -1.4em;
}
.table{
	text-indent: 0.5em;
	font-style:  normal;
	font-weight: bold;
	font-size:   2em;
}
.figure{
	color: blue;
	font-style:  normal;
	font-weight: bold;
	font-size:   0.9em;
}
.ref {
	font-size: 0.5em;
	margin-bottom: 0.2em;
}
.img {
	border: solid #cccccc 1px;
	padding: 1em;
}

td {
	padding: 0.5em;
	text-align: center;
	font-size: 0.8em;
}

td>p {
	margin: 0.1em 0.3em 0.1em 0.3em;
}
.note{
	font-size:   0.9em;
	line-height: 1em;
        hspace: 20px;
}

.ltlist {
	border-left: solid #000000 0.9pt;
	border-right: solid #000000 0.4pt;
	border-top: solid #000000 0.9pt;
	border-bottom: solid #000000 0.4pt;
	padding: 0.0pt 0.0pt 0.0pt 0.0pt;
	font-weight:bold;
	background-color:#CCCCCC;
}
.rtlist {
	border-left: none;
	border-right: solid #000000 0.4pt;
	border-top: solid #000000 0.9pt;
	border-bottom: solid #000000 0.4pt;
	padding: 0.0pt 0.0pt 0.0pt 0.0pt;
	font-weight:bold;
	background-color:#CCCCCC;
	
}

.llist {
	border-left: solid #000000 0.9pt;
	border-right: solid #000000 0.4pt;
	border-top: none;
	border-bottom: solid #000000 0.4pt;
	padding: .0pt 1.0pt 1.0pt 1.0pt;
	text-align: left;
}
.clist {
	border-left: solid #000000 0.9pt;
	border-right: solid #000000 0.4pt;
	border-top: none;
	border-bottom: solid #000000 0.4pt;
	padding: 1.0pt 1.0pt 1.0pt 1.0pt;
	text-align: center;
}
.rlist {
	border-left: none;
	border-right: solid #000000 0.4pt;
	border-top: none;
	border-bottom: solid #000000 0.4pt;
	padding: 1.0pt 1.0pt 1.0pt 1.0pt;
	text-align: right;
}




      #screenTop     {height:60px; border:1px solid black; background-color:lightblue;}
      #screenLeft    {width: 380px; height:680px; }
      #datasheet     {width: 380px; height:675px; border:1px solid black; }
      #screenSVGtop  {width: 600px; height:30px;  border:1px solid black; background-color:#f1f1f1;}
      #SVG           {width: 600px; height:560px; border:1px solid black;}
      #SVG rect      {stroke : black; stroke-width : 1px; opacity : 0.7; }
      #option        {width: 600px; height:112px; border:1px solid black; background-color:#f1f1f1;}
                      font-family: sans-serif; font-size: 11px;}
      #screenTableTop{width: 600px; height:30px;  border:1px solid black; background-color:#f1f1f1;}
      #screenTable   {width: 600px; height:680px; border:1px solid black; } 

     .axis text {font-family: sans-serif; font-size: 9px;}
     .axis path,
     .axis line {fill: none; stroke-width : 1px; stroke: black; }

     .bar {stroke: black; stroke-width: 1;}
     .bandfreq{font-family: sans-serif; font-size: 8pt; text-anchor: middle;}
     .barname {font-family: sans-serif; font-size: 8pt; text-anchor: middle;}
     .barnames{font-family: sans-serif; font-size: 8pt; text-anchor: start;}
     .barnameh{font-family: sans-serif; font-size: 8pt; text-anchor: end;}

     .circle {stroke: black; fill: #FF3500;}
     .circleG{stroke: black; fill:green; }
     .circleN{stroke: #0055FFF; fill:none; stroke-width: 2px;}
     .circleP{stroke: black; fill: #0055FF;}
     .circleR{stroke: black; fill:red; }
     .circleS{stroke: black; fill: #FF3500;}


     .font01   {font-size:9pt; stroke: #0055FF; text-anchor: middle;}
     .fontmath {font-size:11pt; font-family: "times new roman"; font-style : italic;  }
     .fontguide{font-size:10pt; font-family: "times new roman"; font-style : italic; color: blue;}
     .freq     {font-size:11pt; stroke:black; text-anchor: end;}
     .freqfont {font-family: sans-serif; font-size: 8pt; stroke:red; text-anchor: middle;}
     .freqfont2{font-size:8pt; fill:red; text-anchor: middle;}

     .hand{stroke: black}
     .histfreq {font-size:8pt; fill:red; text-anchor: middle;}
     .histline {font-size:9pt; stroke-width: 2; stroke:lime ; fill:black}
     .histmean {font-size: 7pt; stroke: red; text-anchor: middle;}

     .imageBtn1 {width:40px; height:40px; border-radius:10px}
     .imageBtn2 {width:25px; height:25px; border-radius:5px}
     .imageBtn3 {width:40px; height:40px; border-radius:10px}

     .label  {font-size: 11px; font-family: sans-serif; text-anchor: start;}
     .leaf   {font-size:10pt; text-anchor: end;}
     .legend {font-size: 11pt; font-family: sans-serif; stroke : black;  text-anchor: start;}
     .line   {fill: none; stroke-width : 2px; stroke: black;}
     .line2  {fill: none; stroke-width : 0.7px; stroke: black;}
     .lineb  {fill: none; stroke-width : 2px; stroke: #0055FF;}
     .lineB  {stroke: #0055FF; stroke-width: 2px; }
     .lineNormal{stroke: red; stroke-width: 2px;} 
     .lineR  {stroke: red; stroke-width: 3px;} 
     .lineS  {stroke: #FF3500}

     .main text {font: 13px sans-serif;}
     .mainTitle {font: 17px sans-serif; stroke : black; text-anchor: middle;}
     .mean {font-family: sans-serif; font-size:9pt; stroke: #0055FF; text-anchor: middle;}
     .meanL{font-family: sans-serif; font-size:9pt; stroke: green; text-align: left; text-anchor: start;}
     .mean9{font-family: sans-serif; font-size:9pt; stroke: red; text-anchor: middle;}
     .meanP{font-size:8pt; stroke: #00A2FF}
     .meanS{font-size:8pt; stroke: #FF3500}
     .meanB{font-size:9pt; stroke: blue;}
     .meanG{font-size:9pt; stroke: green;}
     .meanR{font-size:9pt; stroke: #FF3500;}
     .myaxis {font-family: sans-serif; font-size:7pt; stroke: black; stroke-width : 1px; text-anchor: middle;}

     .pie {fill:yellow; stroke:white;}
     .pieFreq {font-size: 9pt; text-anchor:middle; stroke:white;}
     .population {stroke: black; fill: blue;}

     .rect{stroke: black; fill: #0055FF; stroke-width: 1px; }
     .reglabel {font-size: 13px; font-family: sans-serif; text-anchor: start;}
     .reglabel2{font-size: 13px; font-family: sans-serif;}
     .reglabel3{font-size: 15px; font-family: sans-serif; stroke: red; text-anchor: start;}
     .regline  {stroke: red}

     .scorefont{font-size:9pt; stroke:#0055FF; text-anchor: middle;}
     .stat {font-size:9pt; stroke: black; text-anchor: middle;}
     .std  {font-size:8pt; stroke: blue; text-anchor: middle;}
     .stdP {font-size:8pt; stroke: #00A2FF}
     .stdS {font-size:8pt; stroke: #FF3500}
     .stem {font-size:10pt; stroke:black; text-anchor: end;}

     .textarea  {text-align: center; }
     .textarea2 {text-align: center; background-color: yellow; border:1px solid black;}

     .title {font-size:13pt; stroke:blue; text-anchor: start;}
     .titleS{font-size:12pt; stroke:#FF3500;}
     .titleStem{font-family: sans-serif; font-size:13pt; text-anchor: start;}
     .xlevel{font-size:8pt; stroke: black; text-anchor: middle;}
     .xTitle {font-size: 12px; font-family: sans-serif; stroke : black; text-anchor: middle;}
     .yTitle {font-size: 12px; font-family: sans-serif; stroke : black; text-anchor: end;}

