/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 900px) {
    .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sidebar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE and Edge */
  .sidebar {
      -ms-overflow-style: none;
  }
}

/* Sidebar navigation */
.sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-family: sans-serif;
  font-size: 90%;
  width: 270px;
}
.sidebar ul  {
    list-style: none;
}
.sidebar > ul > li > ul li {
    margin-left: 10px;
}
.sidebar > ul  > li > ul > li {
    cursor: pointer;
    margin: 10px;
    border: none;
}
.active, .sidebar > ul > li > ul > li:hover {
}
.sidebar > ul > li > ul > li > ul {
    display: none;
}
.sidebar > ul > li > ul > li > details > ul >li {
    margin-left: 1.8em;
    text-indent: -1.8em;
}
.sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar > .active > a,
.sidebar > .active > a:hover,
.sidebar > .active > a:focus {
f  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 900px) {
    .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
